
@import url( /bundles/wgwebsite/themes/sanfran/jquery-ui/jquery-ui.css );

/* Web fonts */
/* Dialogues */
/* Form elements (inputs, buttons, checkboxes etc.) */

/*'''''''''''''''''''''''''''''''*\
|   Moveable deletable tag list   |
\*_______________________________*/

ul.wg-taglist {
}

li.wg-tag img,
li.wg-tag span {
  vertical-align: text-bottom;
}

li.wg-tag {
  margin: 2px 2px;
  position: relative;
  display: inline-block;
  height: 16px;
  border: 1px solid #fff;
  border-top-color: #fff;
  border-left-color: #fff;
  border-right-color: #bcd;
  border-bottom-color: #bcd;
  border-radius: 8px;
  -moz-border-radius: 8px;
  padding: 2px 26px 2px 2px;
  background-color: #ddd;
}

li.wg-tag span.label {
  color: #555;
  text-shadow: 1px 1px 1px #fff;
  margin-left: 6px;
}

li.wg-tag .wg-handle {
  cursor: pointer;
}

li.wg-tag img.wg-handle.move {
  opacity: 0.5;
}

li.wg-tag img.wg-handle.move:hover {
  opacity: 1;
}

li.wg-tag a.wg-handle.default-remove {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0; right: 0;
  background: transparent url( /assets/images/close-tag-sprite.png ) no-repeat 3px 3px;
}

li.wg-tag a.wg-handle.default-remove:hover {
  background: transparent url( /assets/images/close-tag-sprite.png ) no-repeat 3px -29px;
}

a.wg-tag-actions-button {
  display: inline-block;
  opacity: 0.5;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0; right: 0;
  cursor: pointer;
  background: transparent url( /assets/images/edit.png ) no-repeat 0 2px;
}

a.wg-tag-actions-button:hover {
  opacity: 1;
}

ul.wg-tag-actions-popup {
  display: none;
  z-index: 666;
  position: absolute;
  right: 0;
  top: 18px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  list-style: none;
}

ul.wg-tag-actions-popup li a {
  display: block;
  white-space: nowrap;
  padding: 2px 4px;
  color: #555;
  cursor: pointer;
  font-size: 8pt;
}

ul.wg-tag-actions-popup li a:hover {
  background-color: #bcd;
  color: #000;
}

li.wg-tag.prototype {
  display: none;
}
