
@import url( /bundles/wgwebsite/themes/sanfran/jquery-ui/jquery-ui.css );

/* Web fonts */
/* Dialogues */
/* Form elements (inputs, buttons, checkboxes etc.) */

/*'''''''''''''''''''''''''''''''*\
|   Moveable deletable tag list   |
\*_______________________________*/

ul.wg-taglist {
}

li.wg-tag * {
  vertical-align: text-bottom;
}

li.wg-tag img.handle {
  cursor: pointer;
  opacity: 0.5;
}

li.wg-tag {
  margin: 2px 2px;
  position: relative;
  display: inline-block;
  height: 16px;
  border: 1px solid #fff;
  border-top-color: #fff;
  border-left-color: #fff;
  border-right-color: #bcd;
  border-bottom-color: #bcd;
  border-radius: 8px;
  -moz-border-radius: 8px;
  padding: 2px 26px 2px 2px;
  background-color: #DAE0FE;
}

li.wg-tag span.label {
  color: #555;
  text-shadow: 1px 1px 1px #fff;
  margin-left: 6px;
}

li.wg-tag a.remove {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0; right: 0;
  cursor: pointer;
  background: transparent url( /assets/images/close-tag-sprite.png ) no-repeat 3px 3px;
}

li.wg-tag a.remove:hover {
  background: transparent url( /assets/images/close-tag-sprite.png ) no-repeat 3px -29px;
}

li.wg-tag.prototype {
  display: none;
}
